:root {
    --md-code-font-size: 15px;
}

.md-typeset table:not([class]) {
    border: 1px solid #30363d !important;
    background-color: #0d1117 !important;
    border-collapse: collapse;
}

.md-typeset th {
    background-color: #161b22 !important;
    color: #3f94de !important;
    border: 1px solid #30363d !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.md-typeset td {
    color: #c9d1d9 !important;
    border: 1px solid #30363d !important;
}


.md-typeset td code {
    color: #763a9d !important;
    background-color: rgba(175, 184, 193, 0.1) !important;
    border-radius: 6px;
    padding: 0.1rem 0.3rem;
}

.md-typeset tr:hover {
    background-color: #161b22 !important;
    outline: 1px solid #58a6ff;
}